.page-sessions.action-new,
.page-passwords.action-new,
.page-passwords.action-edit {
  padding-top: 25px;

  .logos-asterisk {
    height: 154px;
    margin: auto;
    margin-bottom: 12px;
    width: 154px;
  }

  .block-form {
    max-width: 400px;
  }
}

.google-button__icon img {
  height: 36px;
  width: 36px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

